{% extends "base.html.twig" %}

{% block title %}Startsida{% endblock %}

{% block body %}
    <h1>Om mig</h1>
    
    <figure class="left">
        <img src="{{ asset('img/me.jpg') }}" alt="bild på mig" class="me">
    </figure>
    
    <p>
        Hallå! Mitt namn är Daniel Blom. I den här kursen ( ... ) läser vi om objektorienterad programmering. Det är ett ämne inom webbutveckling som jag har ytterst liten erfaranhet av.<br>
        <br>
        Men med tanke på hur mycket jag lärt mig hittils i det kurspaketet som jag går så har jag inga tvivel om att jag kommer lära mig lika mycket den här gången.<br>
        <br>
        Bortsett från webbutveckling har jag många hobbies, (och allt för lite tid för alla!) några av dessa innefattar musik, pinball maskiner, emulatorer av olika slag m.m.
    </p>
{% endblock %}