{% extends "base.html.twig" %}

{% block title %}Magic number{% endblock %}

{% block body %}
    <h1>Magic number</h1>
    <p>
        Skapa en route /report där du samlar dina redovisningstexter för kursens kmom.
        Skapa även så att länken /report#kmom01 leder direkt till kursmomentets redovisningstext.
    </p>
{% endblock %}